h1{
    color:#fff;
    background-color:#BEBADD;
    padding-top: 15px;
    padding-bottom: 15px;
    text-align: center;
    text-transform: uppercase;
}
body{
    background-color:#F8F8F8;
    font-family: 'Open Sans Condensed';
    font-size: 20px;
}

h2{
    color:#AAEDE1;
    text-transform: uppercase;
    font-weight: bold;
}

body{
    padding-left: 80px;
    padding-right: 80px;
}

table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
  }
  
  td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
  }
  
  tr:nth-child(even) {
    background-color: #dddddd;
  }
